<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notification Page</title>
  <link rel="icon" href="../static/jpg/02.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/notif.css">
</head>

<body>

  <header>
    <nav>
      <a href="/"><h1>{{.User.Username}}</h1><span></span></a>
      <a href="/post/myLikedPost">My Liked Posts<span></span></a>
      <a href="/notification" style="color: rgb(68, 217, 236);">Status<span></span></a>
      <a href="/post/myPost">My Posts<span></span></a>
      <a href="/post/create">Create Post<span></span></a>
      <a href="/logout">Logout<span></span></a>
    </nav>

  </header>

  <section>
    {{if .Notifications}}
    <a href="/notification/?myactions" class="actions_button">My actions</a>
    {{else}}
    <a href="/notification/?newnotification" class="actions_button">Notifications</a>   
    {{end}}
    {{if .Notifications}}
      {{range .Notifications}}
        {{if ne .ReactAuthor $.User.Username}}
          <div class="Teanav">
            <div class="container">
              <a href="/post/?id={{.PostId}}" >            
                <p>{{.CreateAt}}</p>
                <h2>New notification</h2>
                <p>{{.Message}}</p>
              </a>
            </div>
          </div>
        {{end}}
      {{end}}
    {{end}}

    {{if .Actions}}  
 
      {{range .Actions}}
        {{if ne .ReactAuthor .Author}}
        <div class="Teanav">
          <div class="container">
            <a href="/post/?id={{.PostId}}" >            
              <p>{{.CreateAt}}</p>
              <h2>Your action</h2>
              <p>{{.Message}}</p>
            </a>
          </div>
        </div>
        {{end}}
      {{end}}
    {{end}}

    <!-- <button class="close-button">Clear All</button> -->
  </section>

  <footer>
    <div class="moving-text">
      <p>Other Applications: <a href="#app1">Everything is</a>, <a href="#app2">getting better</a>, <a href="#app3">don't worry</a></p>
    </div>
  </footer>

</body>

</html>
